#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/*

   &mmv_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

   &msc_input_listener {
       input-processors = <&zip_xy_scaler 2 1>;
   };

 */

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

/ {
    behaviors {
        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   //   10
        };
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    macros {
        goto_case: goto_case {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp LG(R)>,
                <&macro_wait_time 100>,
                <&kp SPACE &kp SPACE &kp SPACE &kp SPACE &kp C &kp A &kp S &kp E &kp UNDER &kp G &kp O &kp T &kp O &kp SPACE &kp LS(INS) &kp ENTER>;

            label = "GOTO_CASE";
        };

        template_blank: template_blank {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 30>,
                <&kp LS(D) &kp E &kp A &kp R &kp SPACE &kp LS(C) &kp U &kp S &kp T &kp O &kp M &kp E &kp R &kp COMMA &kp RET &kp RET &kp RET &kp LS(T) &kp H &kp A &kp N &kp K &kp SPACE &kp Y &kp O &kp U &kp RET &kp LS(W) &kp I &kp L &kp L &kp I &kp A &kp M &kp SPACE &kp LS(T) &kp A &kp N>;

            label = "TEMPLATE_BLANK";
            wait-ms = <30>;
            tap-ms = <50>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC       &kp N1        &kp N2            &kp N3           &kp N4                &kp N5           &sl 1      &kp N6         &kp N7     &kp N8     &kp N9               &kp N0      &kp BACKSPACE
&kp TAB       &kp Q         &kp W             &kp E            &kp R                 &kp T            &sl 3      &kp Y          &kp U      &kp I      &kp O                &kp P       &kp BSLH
&kp CAPS      &kp A         &kp S             &kp D            &kp F                 &kp G            &sl 0      &kp H          &kp J      &kp K      &kp L                &kp SEMI    &kp APOS
&kp LEFT_ALT  &kp Z         &kp X             &kp C            &kp V                 &kp B            &sl 2      &kp N          &kp M      &kp COMMA  &kp DOT              &kp FSLH    &kp ENTER
&kp C_MUTE    &kp LEFT_GUI  &kp LEFT_CONTROL  &mt RSHFT SPACE  &mt LEFT_SHIFT SPACE  &lt 1 LC(INS)    &kp ENTER  &lt 2 LS(INS)  &kp SPACE  &kp SPACE  &mt LG(LS(S)) SPACE  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
            display-name = "LAYER0";
        };

        layer_1 {
            bindings = <
&kp GRAVE      &mt F11 F1  &mt F12 F2  &kp F3       &kp F4       &kp F5       &trans      &kp F6           &kp F7        &kp F8    &kp F9                &kp F10                &trans
&kp LS(GRAVE)  &kp LC(Q)   &kp LC(W)   &kp LC(E)    &kp LC(R)    &kp LC(T)    &trans      &kp PAGE_UP      &kp HOME      &kp UP    &kp END               &kp MINUS              &kp EQUAL
&kp BSPC       &kp LC(A)   &kp LC(S)   &kp LC(D)    &kp LC(F)    &kp LC(G)    &bt BT_PRV  &kp PAGE_DOWN    &kp LEFT      &kp DOWN  &kp RIGHT             &kp LS(MINUS)          &kp LS(EQUAL)
&kp ENTER      &kp LC(Z)   &kp LC(X)   &kp LC(INS)  &kp LS(INS)  &kp LC(B)    &bt BT_NXT  &kp PRINTSCREEN  &kp LS(HOME)  &kp INS   &kp LS(END)           &kp LEFT_BRACKET       &kp RIGHT_BRACKET
&trans         &trans      &trans      &trans       &trans       &trans       &bt BT_CLR  &trans           &trans        &trans    &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)
            >;
        };

        layer_2 {
            bindings = <
&to 0   &to 1   &to 2   &to 3   &trans  &trans    &rgb_ug RGB_EFR  &kp K_CALCULATOR  &kp FSLH  &kp ASTRK  &kp MINUS    &template_blank  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_EFF  &kp N7            &kp N8    &kp N9     &kp KP_PLUS  &goto_case       &trans
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_BRD  &kp N4            &kp N5    &kp N6     &kp KP_PLUS  &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_BRI  &kp N1            &kp N2    &kp N3     &kp EQUAL    &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans    &rgb_ug RGB_TOG  &trans            &trans    &kp N0     &kp PERIOD   &trans
            >;
        };

        layer_3 {
            bindings = <
&to 0            &to 1            &to 2            &to 3            &trans           &trans             &trans  &trans      &trans  &trans  &trans  &trans  &trans
&trans           &trans           &trans           &trans           &trans           &trans             &trans  &trans      &trans  &trans  &trans  &trans  &trans
&rgb_ug RGB_ON   &rgb_ug RGB_HUI  &rgb_ug RGB_SAI  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &rgb_ug RGB_EFR    &trans  &trans      &trans  &trans  &trans  &trans  &trans
&rgb_ug RGB_OFF  &rgb_ug RGB_HUD  &rgb_ug RGB_SAD  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &rgb_ug RGB_EFF    &trans  &bl BL_TOG  &trans  &trans  &trans  &trans  &trans
&trans           &trans           &trans           &trans           &trans           &trans             &trans  &trans      &trans  &trans  &trans  &trans
            >;
        };
    };
};
